* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    background-image: url('imagos21.jpg');
    background-size: cover;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: white;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
